body{
    margin: 0;
    padding: 0;
    position: fixed;
}
.background-image{
    background-image: url('/Daftar/slide\ daftar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
  }
  .logo {
    width: 241px;
    height: 34px;
    flex-shrink: 0;
    padding-top: 5;
    position: fixed;
    top: 20px;
    left: 61px;
    float: right;
  }
.container{
    display: flex;
    position: relative;
    padding-top: 105px;
    padding-left: 950px;

}

h3{
    color: #292D32;
    font-family: PT Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100.4%; /* 20.08px */
    text-align: center;
}
.atas{
    position: relative;
    bottom: 15px;
}
h4{
    color: #292D32;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100.4%; /* 16.064px */
    text-align: center;
}
h4 span a{
    color: #00269D;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100.4%;
    text-align: center;
}
h4 span a:hover{
    color: turquoise;
    cursor: pointer;
}
.form-container{
    width: 397px;
    height: 555px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(171, 171, 171, 0.50);
    background: #FFF;
    margin-right: 190px;
}
.form-group{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 308px;
    height: 43px;
    flex-shrink: 0;
    background-color: #FFF;
    padding-left: 44px;
    top: 265px;
}
label{
    position: absolute;
    width: 140px;
    height: 19px;
    flex-shrink: 0;
    color: #ABABAB;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
.nama{
    bottom: 453px;
    right: 380px;
}
.email{
    bottom: 396px;
    right: 380px;
}
.Ponsel{
    bottom: 339px;
    right: 380px;
}
.password{
        bottom: 279px;
        right: 380px;
}
.styled-input{
    width: 308px;
    height: 43px;
    flex-shrink: 0;    
    border-radius: 8px;
    border: 1.5px solid #C0C0C0;
    background: #FFF;
    font-size: 16px;
    padding: 15px;
}
h6{
    text-align: center;
    bottom: 24px;
    left: 53px;
    position: relative;
    color: #ABABAB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 291px;
    height: 19px;
    flex-shrink: 0;
}
h5{
    bottom: 35px;
    left: 72px;
    position: relative;
    color: #434343;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 251px;
    height: 19px;
    flex-shrink: 0;
}
h5 span{
    color: #00269D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
button{
  width: 307px;
  height: 38px;
  flex-shrink: 0;
  margin-top: -10px;
  margin-left: -5px;
}
.styled-button{
  border-radius: 10px;
  border: 0px solid rgba(0, 0, 0, 0.70);
  background: linear-gradient(270deg, #0E41DF 0%, #0253BE 17.19%, #037CDC 100%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
  cursor: pointer;
  justify-content: center;
  position: relative;
  bottom: 25px;
  left: 50px;
  color: #FFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.styled-button:hover{
  background-color: #FFF;
}
.container-image{
  display: flex;
  align-items: center;
}
.left-image, .right-image{
  flex: 1;
}
.left-image{
  margin-left: 55px;
  margin-top: -18px;
}
.right-image{
  margin-right: 55px;
  margin-top: -18px;
}
.center-text{
  text-align: center;
  flex: 1;
  width: 38px;
  height: 19px;
  flex-shrink: 0;
  color: #ABABAB;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
p{
  margin-top: -10px;
}
.rectangle{
  display: flex;
  align-items: center;
  width: 244px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #434343;
  background: #FFF;
  margin-left: 75px;
}
.left-content a img{
  border-radius: 50%;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  margin-left: 5px;
}
.left-content:hover{
  cursor: pointer;
}
.center-content{
  flex: 2;
  text-align: center;
  padding: 10px;
}
.center-content p{
  width: 213px;
  height: 19px;
  flex-shrink: 0;
  color: #292D32;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  right: 15px;
  margin-top: 10px;
  display: flex;
  margin-left: -5px;
}
.link a{
  width: 213px;
  height: 12px;
  flex-shrink: 0;
  color: #434343;
  font-family: PT Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  display: flex;
  margin-left: -5px;
  margin-top: -13px;
}
.right-content a img{
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  margin-left: -45px;
  margin-right: 5px;
  margin-top: -3px;
}
.right-content:hover{
  cursor: pointer;
}